::-webkit-scrollbar {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: noto;
}
@font-face {
    font-family: noto;
    src: url(./NotoSansBengali-Medium.ttf);
}
body {
    background-color: #555555;
    display: flex;
    justify-content: center;
}
.detail {
    width: 200px;
    height: 300px;
    background: rgba(0, 0, 255, 0);
    margin: 50px 50px;
}
img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.container {
    height: 100vh;
    width: 50%;
    background-color: #F3F3F3;
    padding: 10px;
    overflow: auto;
}
.tag {
    width: 100%;
    height: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
ul {
    list-style: none;
   
}
li {
    display: inline-block;
    font-size: 12px;
    color: blue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
h2 {
    padding: 20px;
    padding-top: 0;
    padding-left: 0;
    font-size: 35px;
    text-transform: uppercase;
}
p {
    font-size: 20px;
    text-align: justify;
    line-height: 40px;
    color: rgb(14, 14, 14);
    font-family: noto !important;
}
@media only screen and (max-width: 375px) {
    @font-face {
        font-family: noto;
        src: url(./Net-NotoSans-Medium.ttf);
    }
    body {
      background-color: rgb(0, 191, 255);
      display: flex;
      flex-wrap: wrap;
    }
    .container {
        width: 100%;
        padding: 15px;
        overflow-x: hidden;
        box-sizing: border-box;
    }
    .body .container p {
        font-family: noto;
        font-weight: 400;
    }

  }