* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: noto;
    src: url(./NotoSansBengali-Medium.ttf);
}
body {
    background: url(https://i.postimg.cc/pVhzxvJ5/Bg-7.jpg);
    /* background: linear-gradient(to right, #ee0979, #ff6a00); */
    background-size: cover;
    background-position: center;
}
.overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}
.blog {
    height: auto;
    background: rgba(182, 182, 182, 0.411);
    padding: 10px;
}
a {
    text-decoration: none;
    color: black;
}
h3 {
    font-family: noto;
    color: black;
    text-transform: uppercase;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
    color: blue;
    font-family: noto;
    text-transform: uppercase;
    font-size: 12px;
}
